<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E334F2131C72C4D400C79F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E334F22F1C72C4D400C79F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E334F23A1C72C4D400C79F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
